BOT_TOKEN=
USER_ID=
CHECK_INTERVAL=60
LOCATIONS_FILE=locations.json
KUFAR_AUTH_TOKEN=
KUFAR_USER_AGENT=Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36